body {
  background-color: #F7F7F7;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #000000;
  overflow-x: hidden;
}

.job-title {
  color: #198754;
  font-weight: 700;
}

.padding-left-5 {
  padding-left: 5px;
}

.no-style {
  color: #A5A5B2;
}

.skill-badge {
  width: fit-content;
  background-color: #3C4B64;
  border-radius: 20px;
  border-width: 0px;
  height: fit-content;

  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin: 2px;
}

.skill-badge-add {
  width: fit-content;
  background-color: #90B050;
  border-width: 0px;

  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin: 2px;
}

.skill-badge-remove {
  width: fit-content;
  background-color: #F86E69;
  border-width: 0px;

  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin: 2px;
}

.button-font {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}

.button-font:hover {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}

.tab-font {
  font-size: 20px;
  font-weight: 600;
}

.black-24-bold {
  font-size: 24;
  color: #000000;
  font-weight: 600;
}

.black-30-text {
  font-size: 30px;
  color: #000000;
}

.grey-20-medium {
  font-size: 20;
  color: #A5A5B2;
  font-weight: 400;
}

.blackblue-20-bold {
  font-size: 20;
  color: #24313F;
  font-weight: 600;
}

.blackblue-24-bold {
  font-size: 24;
  color: #24313F;
  font-weight: 600;
}

.blackblue-28-bold {
  font-size: 28;
  color: #24313F;
  font-weight: 600;
}

.whiteblack-24-bold {
  font-size: 24;
  color: #3C4B64;
  font-weight: 600;
}

.black-semibold-big-text {
  font-size: 28px;
  color: #000000;
  font-weight: 700;
}

.filter-title {
  font-size: 20px;
  font-weight: 500;
  color: #A5A5B2;
  margin: auto;
  margin-top: 5px;
}

.filter-title::placeholder {
  font-size: 24px;
  font-weight: 100;

}

.dropdown-container {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  background-color: rgb(0, 0, 0, 0%);
  border-width: 0px;
}

.dropdown-container:hover {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: rgb(0, 0, 0, 0%);
  border-width: 0px;
}

.dropdown-container:enabled {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: rgb(0, 0, 0, 0%);
  border-width: 0px;
}

.white-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.black-20-bold {
  font-size: 20;
  color: #000000;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.orange-bg{
  background-color: orange;
}

.no-resize{
  resize: none;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.input-bg{
  background-color: #D9D9D9;
}

.scroll-container{
  overflow-y: scroll;
  max-height: 78vh;
}

.n-mt-5{
  margin-top: -5px;
}

.n-mb-5{
  margin-bottom: -5px;
}

.h-450{
  height: 450px;
}

.bg-F9{
  background-color: #F9F9F9;
}

.p-cursor{
  cursor: pointer;
}

.break-word{
  word-wrap: break-word;
}
