.cus-pre-next {
    background-color: white; 
    color: black; 
    border: 1px solid black;
    border-radius: 5px; 
    padding: 8px 16px; 
    margin: 0 5px; 
    cursor: pointer; 
  }
  
  .cus-pre-next:disabled {
    background-color: #ccc;
    color: #888; 
    cursor: not-allowed; 
  }
  .company-image {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    
  }
  .company-details{
    margin: 10px;
    font-size: 18px;
  }
  .fa-building, .fa-briefcase {
    margin-right: 10px;
    weight: 20px;
    height: 20px;
  }