@media print {
  .your-input-class {
    margin: 0;
    padding: 0;
  }
}
#createCV input {
  height: 39px !important;
}
.form-container {
  border: 2px solid #333;
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#cancelButton {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: red;
  border-color: red;
  margin-top: 20px;
  border-radius: 20px;
  width: auto;
  font-weight: bold;
}

#saveButton {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: green;
  border-color: green;
  margin-top: 20px;
  border-radius: 20px;
  width: auto;
  font-weight: bold;
}
